﻿<div class="panel-body">
    <div class="form-group">
        <label>Enter site url:</label>
        <input class="form-control" ng-model="currentItem.site" />
    </div>

    <button class="btn btn-primary" ng-click="saveEdit(currentItem)">Save</button>
    <button class="btn btn-primary" ng-click="cancelEdit()">Cancel</button>
</div>