﻿<div class="panel-body">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>SHORT URL</th>
            <th>LONG URL</th>
            <th>CREATED</th>
            <th>CLICKS</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <td>http://betinafei.ru/{{item.slug}}</td>
                <td>{{item.site}}</td>
                <td>{{item.created_at}}</td>
                <td>{{item.visit}}</td>

                <td class="text-center">
                    <button class="btn btn-xs btn-primary" ng-click="delete(item)">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <button class="btn btn-primary" ng-click="refresh()">Refresh</button>
        <button class="btn btn-primary" ng-click="editOrCreate()">New</button>
    </div>
</div>